<div class="question">
  <form action="answer">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">?</span>
      <input type="text" class="form-control" placeholder="Ask to your coach" aria-label="question" aria-describedby="basic-addon1" name="question">
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
